<footer>
    <div class="social">
        <a href="" class="social-img"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="" class="social-img"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="" class="social-img"><i class="fa-brands fa-square-linkedin"></i></a>
    </div>
</footer>